.button {
  padding: $gutter-half $gutter-doubled;
  border: none;
  border-radius: 999px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &--primary {
    color: map-get($theme-colors, white);
    background-color: map-get($theme-colors, primary);
    transition: .3s background-color linear;

    &:hover {
      background-color: darken(map-get($theme-colors, primary), 5%);
    }
  }

  &--blank {
    color: map-get($theme-colors, error);
    background-color: transparent;

    &:hover {
      animation: shake 0.8s cubic-bezier(0.4, 0.03, 0.5, 0.9) both;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-6px);
  }
  20%,
  40%,
  60% {
    transform: translateX(6px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-5px);
  }
}
