.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: $gutter;

  &__inner {
    border: 2px solid map-get($theme-colors, greyDarkened);
  }

  &__row {
    display: flex;
  }
}