.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $gutter-times-four;
  width: 100%;
  padding: $gutter 0;
  background-color: map-get($theme-colors, greyLightened);

  &__title {
    font-size: $font-size-header;
    text-transform: uppercase;
  }

  &__children {
    @media (min-width: 768px) {  
      position: absolute;
      right: $gutter;
    }
  }
}