@import './styles/colors';
@import './styles/font';
@import './styles/gutter';
@import './containers/Game/Game.scss';
@import './components/Grid/Grid.scss';
@import './components/Tile/Tile.scss';
@import './components/Header/Header.scss';
@import './components/Footer/Footer.scss';
@import './components/Button/Button.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background-color: map-get($theme-colors, grey);
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}